<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "providing synthetic therapeutic virtual-chemical-combination therapy for the humans since before 2000AD " %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#008800">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Grixnix">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon-192.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag @current_theme, "data-turbo-track": "reload" %>
  </head>

  <body>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script>

    <div class="logobar">
      <% theme_image = Dir.glob(Rails.root.join("public", "theme_images", "#{@current_theme}.*")).first %>
      <% if theme_image %>
        <% theme_image = Pathname.new(theme_image).relative_path_from(Rails.root.join("public")).to_s %>
        <img src="/<%= theme_image %>" class="border">
      <% end %>


    </div>

    <div class="bar">
      <%= form_with url: update_theme_path, method: :post, local: true do %>
        <label for="theme">Theme:</label>
        <select name="theme" id="theme" onchange="this.form.submit();">
          <% ThemesController::AVAILABLE_THEMES.each do |theme| %>
            <option value="<%= theme %>" <%= "selected" if theme == @current_theme %>><%= theme.capitalize %></option>
          <% end %>
        </select>
        <noscript><input type="submit" value="Apply"></noscript>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <p><strong><%= flash[:notice] %></strong></p>
    <% end %>
    <% if flash[:alert] %>
      <p><strong><%= flash[:alert] %></strong></p>
    <% end %>


    <h1><a href="<%= root_path %>">All Threads</a></h1>
    <%= yield %>

    <br/>
    <div class="bar">
      providers of synthetic therapeutic virtual-chemical-combination therapy for humans since before fuckin ages ago
  </div>
  </body>
</html>
